# Load Data and access values

Get and set workdir

In [4]:
wd <- getwd()
setwd(wd)

Load data

In [1]:
data <- read.csv("weather.csv")
data

    Luzern Basel Chur Zurich
Jan  2      5    -3    4
Feb  5      6     1    0
Mar 10     11    13    8
Apr 16     12    14   17
May 21     23    21   20
Jun 25     21    23   27

Read data:

In [ ]:
data

# read 2 row, 3 column
data[2,3]

# read 4 row
data[4,]

# read Luzern and Zurich
data[, c("Luzern", "Zurich")]

# get name of 3 column
colnames(data)[3]

Safe part of loaded data in a new var and safe this in a new file

In [6]:
data1 <- data[, c("Luzern", "Zurich")]
write.csv(data1, file = "weather1.csv")

Replace name of second column

In [7]:
colnames(data)[2] <- "Genf"

Sort by temperature from zurich

In [8]:
data3 <- data[order(data[, "Zurich"]), ]
data3

    Luzern Genf Chur Zurich
Feb  5      6    1    0
Jan  2      5   -3    4
Mar 10     11   13    8
Apr 16     12   14   17
May 21     23   21   20
Jun 25     21   23   27